/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* font-family: "Montserrat", sans-serif; */
/* font-family: "Cactus Classical Serif", serif; */
/* font-family: "Lato", sans-serif; */

/* darkblue: #03318C; */
/* lightblue: #D2E2F2; */
/* yellow: #F2C166; */
/* orange: #F29057; */
/* red: #A61F1F; */

:root{
    --darkblue: #03318C;
    --lightblue: #D2E2F2;
    --yellow: #F2C166;
    --orange: #db9268;
    --red: #A61F1F;
    --head-font: "Cactus Classical Serif", serif;
    --subhead-font: "Montserrat", sans-serif;
    --para-font: "Lato", sans-serif;
}

.nav-link{
    font-family: var(--subhead-font);
}

.nav-link:hover{
    font-size: large;
}

h1, h2 {
    font-family: var(--head-font);
    margin-bottom: 2rem;
}

h3 {
    font-family: var(--subhead-font);
}

p {
    font-family: "Lato", sans-serif;;
}

.hero {
    background-color: white;
    background-image: url(./assets/images/Illustration_Diversity_Equity_GettyImages-1387862714_1440X810.jpg);
    background-position: relative;
    background-size: cover;
}

.herobox {
    font-family: var(--head-font);
    background: rgba(0, 0, 0, 0.65);
    color: white;
    width: auto;
    display: block;
}

#DEIex {
    background-color: var(--lightblue);
}

.keybox {
    background-color: white;
    border-radius: 1rem;
    margin: 1px 1px 1px 1px;
    text-align: center;
}

.key-principles{
    font-family: var(--head-font);
    background-color: var(--yellow);
}

.tips-section{
    background-image: url(./assets/images/dei-image+-+Janelle+Somoano.jpg);
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;
}

li {
    font-family: var(--para-font);
}

#additional{
    background-color: #db9268;
}
